 /* General Page Styles */ 
  body { 
    font-family: "Arial", sans-serif; 
    background: linear-gradient(135deg, #4e7d96, #ff844b); 
    margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh; color: #333; 
  }
    .container {
      background: #fff;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      text-align: center;
      width: 100%;
      max-width: 400px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  
    .container:hover {
      transform: translateY(-5px);
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    }
  
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #374851;
    }
  
    h2 {
      font-size: 1.4rem;
      margin-bottom: 10px;
      color: #4e7d96;
    }

    button, .btn {
      padding: 12px 20px;
      background-color: #c24308;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      margin: 15px 0;
      width: 100%; 
      max-width: 400px;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-sizing: border-box; 
  }
  
  button:hover, .btn:hover {
      background-color: #862c02;
      transform: scale(1.05);
  }
  
  button:active, .btn:active {
      transform: scale(0.98);
  }
  
    .input-wrapper {
      margin: 25px 0 0;
      display: none; /* Initially hidden */
      flex-direction: column;
      align-items: center;
    }
  
    label {
      font-size: 1rem;
      color: #555;
      margin-bottom: 10px;
    }
  
    input {
      width: 100%;
      max-width: 300px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1rem;
      box-sizing: border-box;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }
  
    input:focus {
      outline: none;
      border-color: #4e7d96;
      box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
    }
  
    .submit-wrapper {
      margin-top: 15px;
      display: none; /* Initially hidden */
      justify-content: center;
      width: 100%;
    }
  
    .error-message {
      color: red;
      font-size: 0.9rem;
      margin-top: 10px;
      display: none; /* Initially hidden */
    }
  
    .info-text {
      font-size: 0.9rem;
      color: #666;
      margin-top: 15px;
    }
  
  hr {
      border: 1px solid #ddd;
      margin: 20px 0;
  }
  
  .button-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
  }
